extends layout

block content
  - var title = title || "NeoCompiler.io"
  h1= title
  p Welcome to #{title}, an open-source initiative for providing easy access to compilers for NEO platform.
  p We will start with classic C# code, Python (through neo-boa project) and **Solidity** (yes, we will port it from a brand new neo-solidity project).

  - var teste = "dXNpbmcgTmVvLlNtYXJ0Q29udHJhY3QuRnJhbWV3b3JrOwp1c2luZyBOZW8uU21hcnRDb250cmFjdC5GcmFtZXdvcmsuU2VydmljZXMuTmVvOwp1c2luZyBTeXN0ZW07CnVzaW5nIFN5c3RlbS5OdW1lcmljczsKCm5hbWVzcGFjZSBOZW9Db250cmFjdDEKewogICAgcHVibGljIGNsYXNzIENvbnRyYWN0MSA6IFNtYXJ0Q29udHJhY3QKICAgIHsKICAgICAgICBwdWJsaWMgc3RhdGljIHZvaWQgTWFpbigpCiAgICAgICAgewogICAgICAgICAgICBTdG9yYWdlLlB1dChTdG9yYWdlLkN1cnJlbnRDb250ZXh0LCAiSGVsbG8iLCAiV29ybGQiKTsKICAgICAgICB9CiAgICB9Cn0K"
  - var teste2 = new Buffer(teste, 'base64').toString('ascii');
  form(id="myform",action="/compilex")
    textarea(id="code",name="codesend",rows='20', cols='100')=teste2
    br
    button(type="submit") Compile
  p AVM (in base64):
  textarea(id="codeoutavm",name="codeoutavm",rows='5', cols='100')="AVM (in base64)"
  p ABI:
  textarea(id="codeoutabi",name="codeoutabi",rows='10', cols='100')="ABI (JSON format)"
  p Compile Messages/Errors:
  textarea(id="codeouterror",name="codeouterror",rows='20', cols='100')="Errors in code..."
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
  script.
    $("#myform").submit(function(e) {
      //alert("go");
      e.preventDefault(); // Prevents the page from refreshing
      var $this = $(this); // `this` refers to the current form element
      var indata = $(this).serialize();
      //alert("content send:"+indata+" path:"+$this.attr("action")+" pointer:"+$this);
      $.post(
        $this.attr("action"), // Gets the URL to sent the post to
        indata, // Serializes form data in standard format
        function(data) { 
            var coderr = atob(data.output);
            $("#codeouterror").text(coderr);
            $("#codeoutavm").text(data.avm);
            var codeabi = atob(data.abi);
            $("#codeoutabi").text(codeabi);
        },
        "json" // The format the response should be in
      );
    });

  p 
   | If you find this project useful, contribute with us at 
   a(href='https://github.com/igormcoelho/neocompiler.io') GitHub NeoCompiler.io
   |  or donate some coins. 
   br
   |  That will certainly help maintaining our servers,
   |  improving the interface and extending the tool for many other languages.

  p We are happy with your visit and hoping you may use it to create amazing stuff :)
  p Copyleft 2017-2018
  p MIT License
  p Igor and Vitor Coelho


