extends layout

block content
  - var teste = "dXNpbmcgTmVvLlNtYXJ0Q29udHJhY3QuRnJhbWV3b3JrOwp1c2luZyBOZW8uU21hcnRDb250cmFjdC5GcmFtZXdvcmsuU2VydmljZXMuTmVvOwp1c2luZyBTeXN0ZW07CnVzaW5nIFN5c3RlbS5OdW1lcmljczsKCm5hbWVzcGFjZSBOZW9Db250cmFjdDEKewogICAgcHVibGljIGNsYXNzIENvbnRyYWN0MSA6IFNtYXJ0Q29udHJhY3QKICAgIHsKICAgICAgICBwdWJsaWMgc3RhdGljIHZvaWQgTWFpbigpCiAgICAgICAgewogICAgICAgICAgICBTdG9yYWdlLlB1dChTdG9yYWdlLkN1cnJlbnRDb250ZXh0LCAiSGVsbG8iLCAiV29ybGQiKTsKICAgICAgICB9CiAgICB9Cn0K"
    - var teste2 = new Buffer(teste, 'base64').toString('ascii');
    .container-fluid
      .row.content
        .col-sm-3.sidenav
          h4 Choose Compiler       
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='#section1', data-toggle='tab') C#        
            li
              a(href='#section2', data-toggle='tab') Python         
            li
              a(href='#section3', data-toggle='tab') Java        
            li
              a(href='#section4', data-toggle='tab') Solidity     
        .col-sm-9
          h2 NeoCompiler.io      
          h4
            small
              Welcome to NeoCompiler.io, an open-source initiative for providing easy access to compilers for NEO platform.       
          h4
            small
              We will start with classic C# code, Python (through neo-boa project) and **Solidity** (yes, we will port it from a brand new neo-solidity project).
          form(id='myform', action='/compilex')       
              h4 Code:       
              .form-group
                .tab-content
                  #section1.tab-pane.fade.in.active
                    textarea.form-control(id='codecsharp', rows='20', cols='100')=teste2                   
                  #section2.tab-pane.fade
                    textarea.form-control(id='codepython', rows='20', cols='100')="python code"                   
                  #section3.tab-pane.fade
                    textarea.form-control(id='codejava', rows='20', cols='100')="java code"                   
                  #section4.tab-pane.fade
                    textarea.form-control(id='codesolidity', rows='20', cols='100')="solidity code"
                  br
                  button.btn.btn-success(type="submit")="Compile"      
                  br
                  br
                      
                  h4 AVM (in hex):  
                  textarea.form-control(id='codeavm', rows='5', cols='100')="AVM (in hex)"
                  br
                  button.btn.btn-success(type='submit')="Download"  
                  br
                  br
                  
                  h4 ABI:   
                  textarea.form-control(id='codeabi',rows='10', cols='100')="ABI (JSON format)"
                  br
                  br
                        
                  h4 Compile Warning/Errors:
                  textarea.form-control(id='codewarnerr',rows='20', cols='100')="Warning/Errors in code..." 
                  br     
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
    script.
     $("#myform").submit(function(e) {
      e.preventDefault(); // Prevents the page from refreshing
      var $this = $(this); // `this` refers to the current form element
      var indata = $(this).serialize();
      $.post(
        $this.attr("action"), // Gets the URL to sent the post to
        indata, // Serializes form data in standard format
        function(data) {
            var coderr = atob(data.output);
            $("#codewarnerr").text(coderr);
            $("#codeavm").text(atob(data.avm));
            var codeabi = atob(data.abi);
            $("#codeabi").text(codeabi);
            localStorage.setItem('avmFile', data.avm);
        },
        "json" // The format the response should be in
       );
     });
     $("#avmform").submit(function (e) {
        e.preventDefault();
        var blob = new Blob([localStorage.getItem('avmFile')]);
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = "file.avm";
        link.click();
     });
